# shellcheck shell=bash

# .envrc file of direnv.
# If you use vsode, use the `direnv` extension.

# Use nix-direnv
# https://github.com/nix-community/nix-direnv
# Ensures that flake.nix gets evaluated.
use flake

export PATH="$PWD/scripts:$PWD/node_modules/.bin:$PATH"

# Load variables from .env
#dotenv
